.wrapper {
    max-width: 700px;
    margin: 5px auto;
    padding: 5px;
    display: flex;
    justify-content: space-between;
    border: 1px solid var(--violet);
    border-radius: 5px;
}

.todoWrapper {
    display: flex;
    align-items: center;
}

.input {
    width: 80%;
    border: 1px solid var(--violet);
    border-radius: 5px;
}

span {
    margin-left: 5px;
}

.buttonWrapper {
    width: 120px;
    display: flex;
    justify-content: space-between;
}

.button {
    width: 57px;
    height: 30px;
    border: 1px solid var(--violet);
    border-radius: 5px;
    cursor: pointer;
}

.total {
    margin: 5px auto;
    max-width: 500px;
    padding: 5px;
    display: flex;
    justify-content: space-between;
    border: 1px solid var(--violet);
    border-radius: 5px;
}

.summaryContainer {
    display: flex;
    justify-content: space-around;
}

.todosContainer {
    margin: 5px auto;
    max-width: 500px;
    display: flex;
    flex-wrap: wrap;
}

.done {
    text-decoration: line-through;
}